body {
  background-color: #282c34;
  color: #ddd;
  font-size: 24px;
}

.container {
  padding: 0.8em 2em;
  height: calc(100vh - 1.6em);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.topButtons {
  display: flex;
}

button,
.blueInput {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  background-color: #359;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  width: min-content;
  white-space: nowrap;
  margin: 0.2em 0.8em;
}

#fileInput {
  display: none;
}

.inputs {
  flex: 1;
}
.error {
  color: #f55;
}

.processing {
  flex: 1;
}
h4 {
  margin: 0.5em 0;
}

.connections {
  margin-top: 2em;
  overflow: hidden;
  border-top: 1px solid #888;
}
